@import url('https://fonts.googleapis.com/css?family=Lalezar&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 20vh;
    background: rgb(196, 192, 192);
}

header h1 .claseEncabezado {
    font-family: 'Lalezar', cursive;
    color: green;
    border: 1px;
}

div {
    width: 80vw;
    height: 70vh;
    background: rgb(86, 243, 86);
    position: relative;
}

#ob1 {
    width: 50%;
    height: 50%;
    float: left;
}

#ob2 {
    width: 50%;
    height: 50%;
    float: left;
}

#ob3 {
    width: 30%;
    height: 30%;
}

#ob4 {
    width: 70%;
    height: 70%;
    float: right;
}

img {
    width: 70%;
    height: 70%;
    float: left;
}

#ob1 h2 {
    color: white;
}

#ob2 h2 {
    color: white;
}

#ob3 h2 {
    color: white;
}

#ob1 h2 section {
    text-align: justify;
}

aside #ob5 {
    background: rgb(86, 243, 86);
}

aside #ob6 {
    background: rgb(196, 192, 192);
}